<h2>employees</h2>
<input type="text" [(ngModel)]="searchText" 
class="form-control" placeholder="Search By Category eg. firstname, lastname or email" />
<table class="table">
<tr>
    <th><a (click)="toggleSelectAll()">{{checked?"Deselect All":"Select All"}}</a></th>
    <th (click)="sort('id')">id <i class="fa" [ngClass]="{'fa-sort': column != 'id', 'fa-sort-asc': (column == 'id' && isDesc), 'fa-sort-desc': (column == 'id' && !isDesc) }" aria-hidden="true"> </i></th>
    <th (click)="sort('fname')">firstname <i class="fa" [ngClass]="{'fa-sort': column != 'fname', 'fa-sort-asc': (column == 'fname' && isDesc), 'fa-sort-desc': (column == 'fname' && !isDesc) }" aria-hidden="true"> </i>
    </th>
    <th>lastname</th>
    <th>email</th>
    <th>Joining Date</th>
    <th colspan="2">Actions</th>				
</tr>
<tr *ngFor="let employee of employees | category:searchText">
    <td><input type="checkbox" (change)="toggleSelect(check.checked,employee)" value={{employee}} #check [checked]="checked"></td>
    <td>{{ employee.id }}</td>
    <td>{{ employee.fname }}</td>
    <td>{{ employee.lastname }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.joiningDate }}</td>
    
    <td><a [routerLink]="['/employee', employee.id]">edit</a></td>
    <td><a (click)="deleteEmployee(employee)">delete</a></td>
</tr>
<button (click)="exportSelected()" class="btn btn-primary">Export selected</button>
<button class="btn" [routerLink]="['/employee']">add employee</button>
