<h2>HEROES</h2>

  <form [formGroup]="heroForm">
      <div class="form-group">
        <label class="center-block">Name:
          <input class="form-control" formControlName="fname">
        </label>
        <div *ngIf="heroForm.get('fname').invalid && (heroForm.get('fname').dirty || heroForm.get('fname').touched)" class="alert alert-danger">
          <div *ngIf="heroForm.get('fname').errors['required']">
            Name is required.
          </div>
        </div>
      </div>
      <div class="form-group">
          <label class="center-block">Last Name:
            <input class="form-control" formControlName="lastname" >
          </label>
          <div *ngIf="heroForm.get('lastname').invalid && (heroForm.get('lastname').dirty || heroForm.get('lastname').touched)" class="alert alert-danger">
              <div *ngIf="heroForm.get('lastname').errors['required']">
                last Name is required.
              </div>
            </div>
        </div>
        <div class="form-group">
            <label class="center-block">Email:
              <input class="form-control" formControlName="email" >
            </label>
            <div *ngIf="heroForm.get('email').invalid && (heroForm.get('email').dirty || heroForm.get('email').touched)" class="alert alert-danger">
                <div *ngIf="heroForm.get('email').errors['required']">
                  email is required.
                </div>
                <div *ngIf="heroForm.get('email').errors['email']">
                  enter email
                  </div>
              </div>
          </div>
        <div class="form-group">
          <label class="center-block">Joining Date:
            <input class="form-control" formControlName="joiningDate" >
          </label>
          <div *ngIf="heroForm.get('joiningDate').invalid && (heroForm.get('joiningDate').dirty || heroForm.get('joiningDate').touched)" class="alert alert-danger">
              <div *ngIf="heroForm.get('joiningDate').errors['required']">
                joiningDate is required.
              </div>
            </div>
        </div>
        <button class="btn btn-info" [disabled]="!heroForm.valid" (click)="gotoHeroes();">{{id?"Edit":"Add"}}</button>
      </form>